

body, html {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}

.content {
    color: #777;
    background-color: #fff;
    text-align: justify;
    padding: 50px 80px;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p {
    padding: 10px 0;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    position: relative;
    height: 100%;
    opacity: .7;
}

.box1 {
    background: url(../img/imagem1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.box2 {
    background: url(../img/imagem2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.box3 {
    background: url(../img/imagem3.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.box4 {
    background: url(../img/imagem4.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.box5 {
    background: url(../img/imagem5.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.box6 {
    background: url(../img/imagem6.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.content-title {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}

.content-title span.title {
    color: #fff;
    background-color: #1119;
    border: transparent;
    border-radius: 10px;
    padding: 18px;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}